path:
  usb-dir: E:/개인문서
  event-dir: C:\Users\TIGEN0802\Desktop\move

spring:
  profiles:
    active: main
  data:
    redis:
      host: 127.0.0.1
      port: 6379
  security:
    user:
      name: admin
      password: admin
  mvc:
    hiddenmethod:
      filter:
        enabled: true
  # mysql
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/board?serverTimezone=Asia/Seoul
    username: root
    password: 1234

  #JPA
  jpa:
    database: mysql
    open-in-view: false
    hibernate:
      # none -> 엔티티 변경되더라도 DB 변경 x
      # update -> 엔티티 변경된 부분만 적용
      # validate -> 변경사항 있는지만 검사
      # create -> 실행 시점에 테이블을 생성(재생성)
      # create -> 위와 동일하지만 서버 종료될 때도 모두 drop
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true
        highlight_sql: true
        use_sql_comments: true
    defer-datasource-initialization: true


server:
  port: 8888
  resources:
    location: D:/LIVE/TG_LIVE/upload/
    uri-path: /upload
    osType: window

logging:
  level:
    root: INFO
    org.springframework: INFO
    com.example: DEBUG
#  file:
#    path:
#      main: D:/workspace/demo/logs/
#    name: logs/app.log
#    max-size: 10MB
#    max-history: 30

socket:
  netty:
    port: 9005