<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물 리스트</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <h1>게시물 리스트</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">번호</th>
                    <th scope="col">제목</th>
                    <th scope="col">작성자</th>
                    <th scope="col">작성일</th>
                </tr>
            </thead>
            <tbody>
                <!-- 게시물 리스트 출력 -->
                <tr th:each="post : ${list}">
                    <td th:text="${list.id}">1</td>
                    <td><a th:href="@{/post/{seq}(seq=${list.id})}" th:text="${list.title}">게시물 제목</a></td>
                    <td th:text="${list.writer}">작성자</td>
                    <td th:text="${list.createdDate}">2025-03-05</td>
<!--                    <td th:text="${#dates.format(post.createdDate, 'yyyy-MM-dd')}">2025-03-05</td>-->
                </tr>
            </tbody>
        </table>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
