<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>새 게시물 작성</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1>새 게시물 작성</h1>
    <hr>
    <form th:action th:object="${contents}" method="post">
        <!--<div th:if="${#fields.globalErrors()}">
            <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
        </div>-->
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" id="title" th:field="*{title}"
                   th:errorclass="field-error" class="form-control" placeholder="제목을 입력하세요">
            <div class="field-error" th:errors="*{title}">
                제목 오류
            </div>
        </div>

        <div class="form-group">
            <label for="writer">작성자</label>
            <input type="text" id="writer" th:field="*{writer}"
                   th:errorclass="field-error" class="form-control" placeholder="작성자 이름을 입력하세요">
            <div class="field-error" th:errors="*{writer}">
                작성자 오류
            </div>
        </div>

        <div class="form-group">
            <label for="content">내용</label>
            <textarea class="form-control" id="content" th:field="*{content}" rows="10" placeholder="내용을 입력하세요"></textarea>
        </div>

        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">등록하기</button>

            <a th:href="@{/post}" class="btn btn-secondary">목록으로 돌아가기</a>
        </div>

    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>