body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #777777;
}
.container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,.05);
}

h1 {
    border-bottom: 2px solid #9e9e9e;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.btn-custom {
    background-color: #9e9e9e;
    color: #fff;
    border: none;
}
.btn-custom:hover {
    background-color: #7d7d7d;
}
.btn-delete {
    background-color: #b5b5b5;
    color: #fff;
    border: none;
}
.btn-delete:hover {
    background-color: #9e9e9e;
    color: #fff;
}
