
/* Header */
#header {
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    background: #9e9e9e;
    padding: 15px 0;
    z-index: 100;
}
#header .header-inner {
    width: 80%;
    margin: 0 auto;

    /*    background-color: #fff;
        padding: 30px;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,.05);*/
}
#header h1 {
    margin: 0;
    color: #fff;
    font-size: 26px;
    font-weight: bold;
}

/* Navigation */
#header nav ul {
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
    display: flex;
    gap: 25px;
}

#header nav ul li {
    position: relative;
}

#header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

/* Dropdown */
#header nav > ul.gnb .submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #c9c9c9;
    padding: 10px 0;
    border-radius: 5px;
    min-width: 140px;
    z-index: 999;
    margin-top: 0;
}

#header nav > ul.gnb .submenu li a {
    display: block;
    padding: 8px 15px;
    color: #fff;
    font-size: 14px;
}

.submenu li a:hover {
    background: #b5b5b5;
}

/* 활성화된 메뉴 */
#header nav .gnb > li.active > .submenu {
    display: block;
}